.error {
    font-style: italic;
	color: red;
}

#wrapper {
    width: 900px;
    margin: 50px auto;
    display: flex;
}
 

.center {
    width: 50%;
    height: 50%;
    margin: auto;
}

.divcenter{
 
  width: 72.5%;
  height: 50%;
  text-align: center;
  margin: auto;
}

body{
    background: #1b2a49;
    font-size: 16px;
}

@font-face {
  font-family: Noto;
  src: url(notosans-italic-webfont.woff);
}
a{
  text-decoration: none;
  font-family: Noto;
}
p {
  font-family: Noto;
  
}

.inputWithIcon input[type="text"] {
    padding-left: 10px;
  }
  
  .inputWithIcon {
    position: relative;
    margin-bottom: 15px;
  }
  
  .inputWithIcon i {
    font-size: 20px;
    position: absolute;
    left: 380px;
    top: 0px;
    padding: 9px 8px;
    transition: 0.3s;
  }
  
  .inputWithIcon input[type="text"]:focus + i {
    color: dodgerBlue;
  }
  
  .inputWithIcon.inputIconBg i {
    background-color: #aaa;
    color: #fff;
    padding: 9px 4px;
    border-radius: 4px 0 0 4px;
  }
  
  .inputWithIcon.inputIconBg input[type="text"]:focus + i {
    color: #fff;
    background-color: dodgerBlue;
  }
  